<h1>
    Кто такой Backend-разработчик и чем он занимается?
</h1>

<p>
    Backend-разработчик - с, который занимается программно-административной частью веб-приложения, внутренним
    содержанием системы, серверными технологиями — базой данных, архитектурой, программной логикой.
</p>

<h1>Что делают Backend-разработчик и чем занимаются?</h1>

<p>Обязанности на примере одной из вакансий:</p>

<ul>
    <li>Проектирование архитектуры сервиса</li>
    <li>Создание ядра сайта</li>
    <li>Разработка платформы и основного функционала</li>
    <li>Работа с архитектурой кода</li>
    <li>Разработка приложений, поддерживающих пользовательский интерфейс и безопасность</li>
    <li>Контроль за состоянием серверов (боевого, тестового и рабочего)</li>
    <li>Контроль версий, базы данных, непрерывной интеграции</li>
</ul>

<h1>Что должен знать и уметь Backend-разработчик? </h1>
<h4>Требования к Backend-разработчикам:</h4>

<ul>
    <li>Умение писать быстрый, красивый и правильный код</li>
    <li>Знание популярных веб-фрейморков (Django, Flask, Spring)</li>
    <li>Понимание устройств веб-сервисов, интерфейсов</li>
    <li>Работа с XML и JSON</li>
    <li>Знание Express (библиотека для взаимодействия платформы Node JS с сервером)</li>
    <li>Стремление к постоянному изучению нового и его применению в своей работе</li>
    <li>Понимание принципов ООП</li>
    <li>Владение системой контроля версий Git</li>
    <li>Английский язык для чтения технической документации</li>
</ul>

<h1>Как стать Backend-разработчиком и где учиться?</h1>

<p>Варианты обучения для Backend-разработчика с нуля:</p>

<ul>
    <li>
        <p>
            Самостоятельное обучение – всевозможные видео на YouTube, книги, форумы, самоучители и т.д. Плюсы – дешево
            или очень недорого. Минусы – нет системности, самостоятельное обучение может оказаться неэффективным,
            полученные навыки могут оказаться невостребованными у работодателя
        </p>
    </li>
    <li>
        <p>
            Классическое оффлайн-образование в ВУЗах, колледжах и университетах. Диплом является преимуществом при
            устройстве на работу, при этом обучение обычно длится не менее четырех лет, часто дают устаревшие
            неактуальные знания
        </p>
    </li>
    <li>
        <p>
            Онлайн-обучение. Пройти курс можно на одной из образовательных платформ. Такие курсы рассчитаны на людей без
            особой подготовки, поэтому подойдут большинству людей. Обычно упор в онлайн-обучении делается на практику –
            это позволяет быстро пополнить портфолио и устроиться на работу сразу после обучения.
        </p>
    </li>
</ul>